[Unit]
Description=Tutamen Ask Password Agent
DefaultDependencies=no
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/lib/systemd/tutamen-ask-password
